@import "../settings";

// toasts
div.toast {
    opacity: 0.8 !important;
}

//wish-cards
.card.small {
    height: auto;
    .card-image {
        overflow: visible;
    }

    .card-title a {
        color: white;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }
}

.modal {
    .modal-content img {
        max-width: 100%;
    }


}
