@import "../settings";

//Sign Up errors
#error_explanation {
background-color: #f2dede;
color: #a94442;
margin-bottom: 30px;
padding: 5px 20px;
text-align: left;
    h2 {
    font-size: 150%;
    }
}
